/* Adjust the height of the sections as needed */
.left-section {
    background-color: #f7f7f7;
    height: 100vh;
  }

  .registration-section {
    background-color: #ffffff;
    height: 100vh;
  }

.breadhunter-text {
    width: 200px;
    font-size: 16px;
    text-align: center;
}

.sign-in {
    color: #000000;
}

.sign-in:hover {
    color: #0a58ca;
}

.forgot-password {
    text-align: left;
    font-size: 14px;
    width: 420px;
}

.register-btn {
    min-width: 400px;
}