* {
    margin: 0;
    padding: 0;
    font-family: Gordita, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
    margin-right: 40px;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
}

a.nav-btn {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
}

a.nav-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #2e6edf;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a.nav-btn:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.tagline {
    font-size: 40px;
    
}

.hero-paragraph {
    word-wrap: break-word;
    font-size: 18px;
    margin: 20px 0;
}

.hero-image {
    margin-left: 300px;
    height: 450px;
    width: 600px;
}

.hero-middle {
    display: inline;
    margin-left: 40px;
    margin-top: 40px;
}

.hero-middle-image {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.button-panel {
    margin-top: 40px;
}

.hero-button {
    text-decoration: none;
    border: 1px solid #2e6edf;
    padding: 16px 48px;
    border-radius: 4px;
    font-weight: bold;
}

.hero-button.hire-button {
    color: white;
    background-color: #2e6edf;
}

.hero-button.seek-job-button {
    color: #2e6edf;
    background-color: white;
}



/* <Banner Section> */
.container {
    height: 300px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-family: Gordita, sans-serif;
    background-color: #f8f8f8;
    padding: 32px 32px 42px 32px;
    box-sizing: border-box;
    text-decoration: none solid rgb(33 33 33);
}


.jam{
    color: crimson;
    font-weight: 600;
}

.path-to-ext{
 color:brown;
 font-weight: 600;

}

.banner{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    height: 60px;
    width: 1208px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    line-height: 60px;
    box-sizing: border-box;
   font-family: Gordita,sans-serif;
   text-decoration: none solid rgb(33 33 33);
   position: color #212121;
 
}
.part{
    font-family: Gordita,sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    height: 20px;
    width: 1208px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    display: block;
    box-sizing: border-box;
    text-decoration: none solid rgb(33 33 33);
}
.Banner_logos{
    font-size: 16px;
    line-height: 24px;
    font-family: Gordita,sans-serif;
    box-sizing: border-box;
    height: 47px;
    width: 1208px;
    display: flex;
     justify-content: center; 
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
   gap: 3em; 
}
/* <Banner Section end> */

/* Achievement Section */

.achievement {
    margin: 20px;
}

.achievement-tagline {
    font-size: 28px;
    text-align: center;
    margin: 36px;
}
.icon {
    height: 50px;
    width: 50px;
    /* float: left; */
}

.achievement-para {
    font-size: 20px;
    line-height: 3.5em;
}

.achievement-para-line {
    font-size: large;
}

.achievement-para-word {
    margin-left: 5px;
    line-height: 50px;
}

.icon-word {
    display: flex;
}

.achievement-cards {
    display: flex;
    justify-content: space-evenly;
}

.days, .hours, .percent {
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
}

.days {
    color: #8cc94f;
}

.hours {
    color: #7cb441;
}

.percent {
    color: #5e9c76;
}



/* Achievement Section */
/* Achievement 2 */

.container2{
    height: 500px;
    width: auto;
   padding-top: 50px;

}
.heading{
    
     padding: 80px 0 0 75px; 
    font-size: 48px; 
    font-family: Gordita,sans-serif;
    font-weight: 200;
    line-height: 60px; 
    margin-bottom: -60px;
   
    

}
.container2{
    opacity: 0.9;
    background-size: auto 500px;
    background-repeat: no-repeat;
    background-position: right 60px;
    color: aliceblue;
     background-image:
     linear-gradient(90deg,#e66465, #9198e575
       ), url(../images/World_map_\(blue_dots\).svg);
     

}
.lekha{
      font-size: 30px;  
    line-height: 45px; 
    font-family: Gordita,sans-serif;
    box-sizing: border-box;
    display: flex;
     justify-content: flex-start; 
    flex-direction: row;
    padding: 80px 0 0 75px;
    font-weight: 200;
    gap: 1.5em;  
    color: aliceblue;
    margin-top: 30px;
}
.n1,.n2,.n3{
    font-size: 70px;
    font-family: Gordita,sans-serif;
    font-weight: 500;
    color: aliceblue;
}
.n4,.n5{
    font-size: 70px;
    font-weight: 500;
    color:darkslategray;
}

/* Testimonial slider */

.testi-container {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .testi-img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;

}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.slide p {
    text-align: center;
    padding: 0 100px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 14px;
    font-weight: 600;
    columns: #333;
}

.details .job {
    font-size: 12px;
    font-weight: 400;
    columns: #333;
}

.details .company {
    font-size: 12px;
    font-weight: 400;
    columns: #333;
}

.slider-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.slider-btn::after,
.slider-btn::before {
    color: #fff;
    font-size: 20px !important;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #4070f4;
}

@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }
    .slider-btn {
        display: none;
    }
}

/* Testimonial slider */
/* <footer section> */
.up{
     
    background-color: black;
    color:#FFFFFF;
    
    justify-content: space-between; 
    width: auto;
    height: auto;
    padding: 50px 70px;
    font-family: Gordita, sans-serif;
    display: flex;
    margin-bottom: -90px;
    
}
.image{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    cursor: pointer;
    gap: 1em;
     margin-bottom: 10px;
     
}
  .name{
    font-size: 32px;
    text-align: left;
    color:#000000;
    cursor: pointer;
    
    
    
  }  
  .upper{
    display: flex;
    justify-content: flex-end;
    gap: 7em;
    margin-bottom: 70px;
    margin-top: 18px;
    font-size: 17px;
    line-height: 2em;
   
    
   
    
  }
  .last-title{
   
    text-align: center;
    font-family: Gordita, sans-serif;
    font-size: 20px;
  }
  .low{
    background-color: black;
   
    color:#FFFFFF;
    padding-bottom: 20px;
  }
  .last-part{
    text-align: center;
    font-family: Gordita, sans-serif;
    font-size: 13px;
    line-height: 3em;
  }
  .last-line{
    display: flex;
    justify-content: end;
    gap: 2em;
    color: #FFFFFF;
    font-family: Gordita, sans-serif;
    font-size: 14px;
    padding: 0px 30px;
    

  }
  .my-link,.lastlink{
    color: #9FC1C1;
    text-decoration: none;
    
  }
  .headlink{
    color: #FFFFFF;
    text-decoration: none;
  }
  a.my-link,a.lastlink{
    position: relative;
  }
  a.my-link::before,a.lastlink::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #9FC1C1;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  a.my-link:hover::before,a.lastlink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  /* <footer ends> */