<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>BreadHunter</title>
</head>
<body>
    <div class="nav-row">
        <h1 class="hero-title">BreadHunter.io</h1>
        <ul class="navbar">
            <li><a class="nav-btn" href="#">Hire a Talent</a></li>
            <li><a class="nav-btn" href="#">Search Jobs</a></li>
            <li><a class="nav-btn" href="#">About Us</a></li>
            <li><a class="nav-btn" href="#">Contact Us</a></li>
            <li><a class="nav-btn" href="#">Login</a></li>
        </ul>
    </div>
    <div class="hero-middle-image">
        <div class="hero-middle">
            <h1 class="tagline">Connecting Talents, <br>Empowering Businesses</h1>
            <p class="hero-paragraph">An exclusive gateway to greatness. Brace yourself for an extraordinary journey as we unveil a talent pool <br> that's second to none. Our rigorous vetting process <br> sets a new standard for excellence, handpicking <br> top-notch professionals who are destined for magnificence. </p>
            <div class="button-panel">
                <a class="hero-button hire-button" href="#">Hire a Talent</a>
                <a class="hero-button seek-job-button" href="#">Find Jobs</a>
            </div>
        </div>
        <img class="hero-image" src="https://img.freepik.com/free-vector/office-concept-illustration_114360-795.jpg?w=740&t=st=1685973004~exp=1685973604~hmac=c3994fb55e9dd71c6df5b16b07125e8e792b55c31814043b25f53e4805b1afd6">
    </div>
</body>
</html>