<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>BreadHunter.io</h1>
        <ul>
            <li>Hire a Talent</li>
            <li>Search for Jobs</li>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Login</li>
        </ul>
    </div>
    <div>
        <p>An exclusive gateway to greatness. Brace yourself for an extraordinary journey as we unveil a talent pool that's second to none. Our rigorous vetting process sets a new standard for excellence, handpicking top-notch professionals who are destined for greatness. Prepare to ignite your recruitment strategy with a touch of brilliance as you tap into a reservoir of exceptional candidates who are ready to take your organization to soaring heights.</p>
        <img src="https://img.freepik.com/free-vector/office-concept-illustration_114360-795.jpg?w=740&t=st=1685973004~exp=1685973604~hmac=c3994fb55e9dd71c6df5b16b07125e8e792b55c31814043b25f53e4805b1afd6" height="400px" width="400px">
    </div>
    <div>
        <button>Hire a Talent</button>
        <button>Find Jobs</button>
    </div>
</body>
</html>