<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  
   <style>
    .bg-image {
        background-image: url('help.jpg');
        
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px; 
      }
      .search-container{
        width: 100%;
      }
      .help{
        text-shadow: white 0px 0px 10px;
      }
   </style>
    
</head>
<body>
  
    
    
        <div class="container-fluid d-flex justify-content-center align-items-center bg-image" >
            <div class="row search-container">
                <div class="col-md-6 offset-md-3 text-center">
                    <div class="mt-6">
                  <h1 class=" help">How can We help you?</h1>
                  
                </div>
                  <form class="mt-4 ">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search...">
                      
                    </div>
                  </form>
                </div>
              </div>
              
          </div>

          <div class="container mt-5 d-flex justify-content-evenly g-5 ">
            <div> 
                <h1>I'm a Customer 🤝</h1>
                <p><a class=" link-underline link-underline-opacity-0 text-primary-emphasis" href="#" >What is BreadHunter’s deep developer profile?</a></p>
                <p><a class=" link-underline link-underline-opacity-0 text-primary-emphasis" href="#">For which all skills can I hire remote developers from BreadHunter?</a> </p>
                <p><a class="link-underline link-underline-opacity-0 text-primary-emphasis" href="#">Can I hire from a particular region?</a></p>
                <p><a class="link-underline link-underline-opacity-0 text-primary-emphasis" href="#">Can BreadHunter provide us a team?</a></p>
                
                <p><a class="link-underline link-underline-opacity-0 text-primary-emphasis" href="#">How does BreadHunter’s vetting process work?</a></p> 
            </div>
           <div>
            <h1>I'm a Jobseeker 💻</h1>
            <p><a class="link-underline link-underline-opacity-0 text-primary-emphasis" href="#">How do I get matched with my Developer Resume?</a></p>
                <p><a class="link-underline link-underline-opacity-0 text-primary-emphasis" href="#">Are these jobs contractual?</a></p>
                <p><a class="link-underline link-underline-opacity-0 text-primary-emphasis" href="#">How does BreadHunter find the perfect job for me after vetting?</a></p>
                <p><a class="link-underline link-underline-opacity-0 text-primary-emphasis" href="#">How do I get matched with leading Global companies?</a></p>
                <p><a class="link-underline link-underline-opacity-0 text-primary-emphasis " href="#">Do we have to pay to join BreadHunter? Do I have to pay a fee or commission after I get hired?</a></p>
                
                
           </div>
                

      </div>
      <div class="container text-center mt-5">
        <p><a class="link-underline link-underline-opacity-0 text-primary-emphasis" href="#">Go to  BreadHunter.com</a></p>

      </div>





















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>